@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* ------------------------ */
/* Custom Properties        */
/* ------------------------ */

:root {
  /* Colors */
  --clr-primary-orange: hsl(26, 100%, 55%);
  --clr-primary-pale: hsl(25, 100%, 94%);

  --clr-secondary-dark: hsl(220, 13%, 13%);
  --clr-secondary-darkGray: hsl(219, 9%, 45%);
  --clr-secondary-gray: hsl(220, 14%, 75%);
  --clr-secondary-light: hsl(223, 64%, 98%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: 0 0% 0%;

  /* Typography */
  --ff-primary: 'Kumbh Sans', sans-serif;

  --fs-400: 1rem;
}

/* ------------------------ */
/* CSS reset                */
/* ------------------------ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  /* Set core body defaults */
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------ */
/* Utility Classes          */
/* ------------------------ */

.container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 80rem;
}

.bg-primary {
  background-color: var(--clr-primary-orange);
}
.bg-primary-pale {
  background-color: var(--clr-primary-pale);
}

.text-orange {
  color: var(--clr-primary-orange);
}
.text-gray {
  color: var(--clr-secondary-darkGray);
}
.text-fade {
  color: var(--clr-secondary-gray);
}
.text-light {
  color: var(--clr-white);
}

.d-none {
  display: none;
}

.fs-normal {
  font-size: var(--fs-400);
}
.fs-small {
  font-size: 0.75rem;
}
.upper {
  text-transform: uppercase;
}

/* ------------------------ */
/* Components               */
/* ------------------------ */

body {
  font-family: var(--ff-primary);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.navigation img {
  width: 2rem;
  aspect-ratio: 1;
}

.navigation ul li {
  list-style: none;
  padding: 2rem 0;
}
.navigation ul li:hover {
  border-bottom: 3px solid var(--clr-primary-orange);
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  justify-content: center;
}

.cart-holder {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.logo-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-toggle,
.cart {
  background-color: transparent;
  border: 0;
  width: 2rem;
  aspect-ratio: 1;
}
.nav-toggle:hover,
.cart:hover {
  cursor: pointer;
}

.image-media {
  position: relative;
}

.previous-arrow,
.next-arrow {
  background: white;
  position: absolute;
  z-index: 1;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}
.previous-arrow {
  transform: translate(50%, -50%);
}
.next-arrow {
  left: 100%;
  transform: translate(-150%, -50%);
}

.images {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
}

.thumbnails img {
  width: 20%;
  aspect-ratio: 1;
  border-radius: 10px;
  transition: opacity 0.2s ease-in;
}
.thumbnails img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.active-thumbnail {
  opacity: 0.5;
  box-shadow: 0 0 0px 3px var(--clr-primary-orange);
}

.company-name,
.sneaker-description {
  margin-block: 1rem;
}

.sneaker-edition {
  line-height: 1;
}

.price-holder {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-price {
  font-size: 1.5rem;
}

.discount {
  font-size: 0.9rem;
  padding: 0.06125em 0.5em;
  border-radius: 5px;
  height: fit-content;
}

.old-price {
  position: relative;
  font-size: 0.75rem;
}

.old-price::before {
  content: '';
  width: 100%;
  height: 0.01em;
  position: absolute;
  background-color: var(--clr-secondary-gray);
  top: 55%;
}

.quantity-holder {
  position: relative;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  place-items: center;
  background-color: var(--clr-secondary-light);
  margin-block: 1rem;
  border-radius: 10px;
}
.quantity-holder::before {
  content: url(./images/icon-minus.svg);
  color: var(--clr-primary-orange);
  position: absolute;
  left: 5%;
  margin-top: -6px;
  height: 100%;
  display: flex;
  align-items: center;
}

.quantity-holder::after {
  content: url(./images/icon-plus.svg);
  color: var(--clr-primary-orange);
  position: absolute;
  left: 90%;
  height: 100%;
  display: flex;
  align-items: center;
}
.quantity-holder:hover::after,
.quantity-holder:hover::before {
  cursor: pointer;
  opacity: 0.6;
}

.quantity {
  font-weight: 700;
  padding-block: 0.6125rem;
}

.cart-button {
  width: 100%;
  position: relative;
  border: 0;
  padding: 0.6125rem 0;
  border-radius: 10px;
}
.cart-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.cart-button::before {
  content: url(./images/icon-cart.svg);
  filter: invert(42%) sepia(93%) saturate(0%) hue-rotate(0deg) brightness(200%)
    contrast(100%);
  height: 120%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 20%;
}

@media only screen and (min-width: 45rem) {
  main {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
    padding-inline: 4rem;
    margin-inline: auto;
    max-width: 80rem;
  }

  .images {
    border-radius: 15px;
    overflow: hidden;
  }
  .nav-toggle,
  .next-arrow,
  .previous-arrow {
    display: none;
  }

  .navigation ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin: 0;
  }
  .navigation {
    border-bottom: 1px solid var(--clr-secondary-gray);
    margin: 0;
  }

  .thumbnails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
  }
  .price-holder {
    display: block;
  }
  .cart-manager {
    display: grid;
    grid-template-columns: 30% 50%;
    align-content: center;
    align-items: center;
    gap: 1rem;
  }
  .cart-button {
    height: min-content;
  }
}

@media only screen and (min-width: 45rem) and (max-width: 992px) {
  .cart-button::before {
    display: none;
  }
}
